/* universal style*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.primaryTextColor {
  color: #fd6e0a;
}
.primaryBgColor {
  background-color: #fd6e0a;
}
/* nav related styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 0px 200px;
}
.navUl,
li,
a,
button {
  display: flex;
  gap: 4rem;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.navUl,
li,
a:hover {
  color: lightgray;
}

.navTittle {
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}

.navLinkBtn {
  width: 150px;
  height: 64px;
  border-radius: 5px;
  justify-content: center;
  border: none;
  color: white;
  cursor: pointer;
}

.navLinkBtn:hover {
  color: #0d0600;
  background-color: lightgray;
}

/* Header related style  */

header {
  background-color: #fff8f3;
  
}

/* banner section style here  */

.banner {
  padding: 182px 20px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* banner-description section here */
.hiTittle{
    color: #474747;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600;
    
}

.maryHardyTittle{
    color:#181818;
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
}

.description{
    width: 585px;
    color:  #757575;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

/* bannerBtn section here */

.bannerBtn{
    display: flex;
    gap: 40px;
}