/* universal style*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.primaryTextColor {
  color: #fd6e0a;
}
.primaryBgColor {
  background-color: #fd6e0a;
}
/* nav related styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 0px 200px;
}
.navUl,
li,
a,
button {
  display: flex;
  gap: 4rem;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.navUl,
li,
a:hover {
  color: lightgray;
}

.navTittle {
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}

.navLinkBtn {
  width: 150px;
  height: 64px;
  border-radius: 5px;
  justify-content: center;
  border: none;
  color: white;
  cursor: pointer;
}

.navLinkBtn:hover {
  color: #0d0600;
  background-color: lightgray;
}

/* Header related style  */

header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  /* width: 1920px;
  position: fixed; */
}

/* banner section style here  */

.banner {
  padding: 182px 20px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-size: 110px;
}

/* banner-description section here */
.hiTittle {
  color: #474747;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 600;
}

.maryHardyTittle {
  color: #181818;
  font-family: "Open Sans";
  font-size: 95px;
  font-weight: 700;
}

.description {
  width: 700px;
  color: #757575;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

/* bannerBtn section here */

.bannerBtn {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.downloadBtn {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  cursor: pointer;
}

.downloadBtn:hover {
  background-color: #fd6e0a;
  color: white;
}

.contactBtn {
  width: 160px;
  height: 64px;
  flex-shrink: 0;
}



/* Main-Description */

.mainArticleOne {
  width: 827px;
  margin: auto;
  padding: 200px 150px;
  background-color: #fff8f3;
  margin-top: 200px;
  
 
}

.aboutMe{
  margin-bottom: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;

}


.mainDescription >p{
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;

}
.mainTable{
  width: 827px;
  margin: auto;
  
}

.tableBody{
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;

}
.tableHead{
  color:  #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;

}
